<?xml version="1.0"?><RDF xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:em="http://www.mozilla.org/2004/em-rdf#"><Description about="urn:mozilla:install-manifest"><em:id>{0a5205a5-f428-4e1a-b96a-2ce4436c25ab}</em:id><em:name>Doufan (Douban-Fanfou integration plugin)</em:name><em:version>__VERSION__</em:version><em:description>An plugin for the integration of Douban and Fanfou.</em:description><em:creator>Li Fanxi</em:creator><em:contributor>Greasemonkey Compiler by Anthony Lieuallen;</em:contributor><em:contributor>http://www.arantius.com/</em:contributor><em:homepageURL>http://www.freemindworld.com/db_ff/index.htm</em:homepageURL><em:targetApplication><Description><em:id>{ec8030f7-c20a-464f-9b0e-13a3a9e97384}</em:id><em:minVersion>2.0</em:minVersion><em:maxVersion>3.6.*</em:maxVersion></Description></em:targetApplication></Description></RDF>
